@charset "utf-8";

html[lang="ja"] {
	margin:0 !important;
}
body{
	font-size: 14px;
}
.pc-only {
	display: none !important;
}
#wpadminbar{
	display: none !important;
}
/* == parts ============================================== */
